<div class="bar">
      <input type="text" placeholder="ALL ASSIGNMENT">
      <input type="text" placeholder="Search Students...">

    </div>
<div class="assignment-card">

    <h4>All Assignment</h4>

    <div class="table-header">

        <span>Name</span>
        <span>Assign Date</span>
        <span>Deadline</span>
        <span>Grade</span>
        <span>Status</span>
        <span>Action</span>

    </div>



    <div class="table-row">

        <span>Lesson 1</span>
        <span>June 2</span>
        <span>June 3</span>
        <span>Grade 11</span>

        <span>
            <label class="published">Published</label>
        </span>

        <div class="actions">

            <i class="bi bi-trash"></i>

            <i class="bi bi-pencil-fill"></i>

            <button>Send To Students</button>

        </div>

    </div>


    <div class="table-row">

        <span>Lesson 2</span>
        <span>June 3</span>
        <span>June 5</span>
        <span>Grade 10</span>

        <span>
            <label class="published">Published</label>
        </span>

        <div class="actions">

            <i class="bi bi-trash"></i>

            <i class="bi bi-pencil-fill"></i>

            <button>Send To Students</button>

        </div>

    </div>



    <div class="table-row">

        <span>Lesson 3</span>
        <span>June 6</span>
        <span>June 7</span>
        <span>Grade 11</span>

        <span>
            <label class="draft">Draft</label>
        </span>

        <div class="actions">

            <i class="bi bi-trash"></i>

            <i class="bi bi-pencil-fill"></i>

            <button>Send To Students</button>

        </div>

    </div>



    <div class="table-row">

        <span>Lesson 4</span>
        <span>June 9</span>
        <span>June 10</span>
        <span>Grade 10</span>

        <span>
            <label class="pending">Pending</label>
        </span>

        <div class="actions">

            <i class="bi bi-trash"></i>

            <i class="bi bi-pencil-fill"></i>

            <button>Send To Students</button>

        </div>

    </div>

</div>

<div class="create-assignment">

    <button>Create Assignment</button>

</div>