<div class="layout">
 


  <div class="main">

    <div class="bar">
      <input type="text" placeholder="ALL GRADES">
      <input type="text" placeholder="Search Students...">

    </div>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Grade</th>
          <th>Grades</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td>#10042</td>
          <td>Salma Tamer</td>
          <td>Grade 12</td>
          <td> <span class="grade-green">98%</span></td>
          <td><button  routerLink="/student-profile">View</button></td>
        </tr>

        <tr class="goerd">
          <td>#10043</td>
          <td>Raghad Mostafa</td>
          <td>Grade 11</td>
          <td><span class="grade-green">87%</span></td>
          <td><button  routerLink="/student-profile">View</button></td>
        </tr>

        <tr>
          <td>#10044</td>
          <td>Farah Hussein</td>
          <td>Grade 10</td>
          <td><span class="grade-red">55%</span></td>
          <td><button  routerLink="/student-profile">View</button></td>
        </tr>

        <tr class="goerd">
          <td>#10045</td>
          <td>Jana Mohamed</td>
          <td>Grade 12</td>
          <td><span class="grade-yellow1">75%</span></td>
          <td><button  routerLink="/student-profile">View</button></td>
        </tr>
        <tr>
          <td>#10046</td>
          <td>Fatma El-zahraa</td>
          <td>Grade 12</td>
          <td><span class="grade-yellow">92%</span></td>
          <td><button  routerLink="/student-profile">View</button></td>
        </tr>
        <tr class="goerd">
          <td>#10047</td>
          <td>Basmala Ashraf</td>
          <td>Grade 12</td>
          <td><span class="grade-yellow">90%</span></td>
          <td><button  routerLink="/student-profile">View</button></td>
        </tr>
        <tr class="goerd">
          <td>#10048</td>
          <td>Farah Hussein</td>
          <td>Grade 12</td>
          <td><span class="grade-redD">20%</span></td>
          <td><button  routerLink="/student-profile">View</button></td>
        </tr>

      </tbody>
    </table>
  </div>

</div>